@import url('https://fonts.googleapis.com/css2?family=Arima:wght@500&display=swap');
body{
  width: 100%;
  min-height: 100vh;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  position: relative;
}

body::after{
  content: '';
  display: block;
  height: 50px
}

nav {
  background-color: #d4d5d6;
  padding: 1rem 1rem;
}

#cart {
  font-size: 1rem;
  color: black;
}

#cart_count {
  background-color: #8623b4;
  margin: 1px;
  padding: 0.2rem 0.5rem;
  border-radius: 0.2rem;
  color: white;
  font-weight: bold;
  font-size: 0.9rem;
}

footer{
  position: absolute;
  bottom: 0;
  height: 50px;
  width: 100%;
  background-color: #d4d5d6; 
}

footer p{
  color: purple;
}

.carousel-item{
  height: 70vh;
}

.carousel-item>img{
  height: inherit;
  object-fit: cover;
  object-position: center;
  overflow: hidden;
}

#product-heading{
  margin-top: 1.8rem;
  font-family: 'Arima', cursive;
}

.loader {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20%;
  width: 80px;
  height: 80px;
  padding-left: 0;
}
.loader:after {
  content: ' ';
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #8623b4;
  border-color: #8623b4 transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.card {
  height: 100%;
}

.card-title a {
  color: #2e2e2e;
  text-decoration: none;
}

.card-title a:hover {
  color: #853dd8;
  text-decoration: none;
}

.card-body {
  padding-left: 0;
}

.card-text {
  font-size: 1.4rem;
}

#view_btn {
  background-color: #853dd8;
  color: white;
}

.card-img-top {
  width: 200px;
  height: 150px;
}

.ratings {
  font-size: 1.2rem;
  color: #fdcc0d;
}

#no_of_reviews {
  font-size: 0.85rem;
  color: grey;
  margin-left: 0.5rem;
}

.rating-outer {
  display: inline-block;
  position: relative;
  font-family: FontAwesome;
  color: #fdcc0d;
}

.rating-outer::before {
  content: '\f006 \f006 \f006 \f006 \f006';
}

.rating-inner {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
}

.rating-inner::before {
  content: '\f005 \f005 \f005 \f005 \f005';
  color: #f8ce0b;
}

#stock_status {
  font-size: 1.1rem;
  font-weight: bold;
  margin-left: 0.3rem;
}

.redColor {
  color: red;
}

.greenColor {
  color: green;
}

#product_image {
  margin-top: 9rem;
}

#cart_btn,
#review_btn {
  border-radius: 2rem;
  background-color: #853dd8;
  border: none;
  padding: 0.5rem 2rem;
}